<div class="jumbotron">
<h1><img style="max-width:100px; margin-top: -7px;" src="http://i.imgur.com/pjs3K1M.jpg">Travel Packing Application</h1>
<p>This is an application for generating a personalized packing list with custom items for packing</p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>