<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create Packing List</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.0.0/mustache.js"></script>
</head>

<body>
   <h2>Create A Packing List</h2>
                   <!--  TO PACK PART -->
           
    <div class="row">
        <div class="col-md-6">
            <div class="toPacklist not-packed">
             <h1>To pack</h1>
                <input type="text" class="form-control add-toPack" placeholder="Add your item to pack">
                    <button id="checkAll" class="btn btn-success">Mark all as Packed</button>
                    
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                    <li class="ui-state-default">

                    <script id="item-template" type="text/template">
                        {{#default_items}}
                         <div id="checkbox">
                         <label>
                          <input type="checkbox" id="item">{{item}} </label>
                          </div>
                        {{/default_items}}
                        </script>

                        <div id="checkbox">
                            <label>
                                <input type="checkbox" id="item">{{item}} </label>
                        </div>
                    </li>
                    <li class="ui-state-default">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" />Toothpaste</label>
                        </div>
                    </li>
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="toPacklist">
             <h1>Packed</h1>
                <ul id="done-items" class="list-unstyled">
                    <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                    
                </ul>
            </div>
        </div>
    </div>
                    
<!--   END OF TO PACK -->
  

</body>
</html>
 



    