
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*= require font-awesome
*= require_self
*= require jquery-ui
*= require_tree .
 */

/*.container {
  margin-left: 0px;
  padding-left: 0px;
}*/

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

body {
font-family: 'Raleway', cursive !important;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.middle {
    margin-top: 150px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}

.btn-block {
  background: #1abc9c;
  color: white;
}
.btn-block:hover {
  background: rgba(22, 160, 133,1.0);
  color: white;
}
.btn-lg {
  background: #1abc9c;
  border: 2px solid white;
}

media="all"
.btn-primary {
  color: #fff;
  background-color: #42CAAB !important;
  border-color: #357ebd;
}

.btn-lg:hover {
  background: rgba(22, 160, 133,1.0);
}

#toggleIt:hover {
  background-color: black;
  color: white;
}
.location .date {
  max-width: 500px;
}
.container .jumbotron {
  color: rgb(35, 115, 60);
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}
a.btn.btn-primary.btn-lg {
  background: #1abc9c;
  border: 2px solid white;
}
#homepic {
   width: 100%;
    position: absolute;
    left: 0;
    z-index: -1000;
}
.btn-edit {
background: rgb(26, 188, 156);
color: white;
}
.btn-delete {
background: rgb(231, 76, 60);
color: white;
}
.btn-update {
background: rgb(155, 89, 182);
color: white;
}
.btn-weather {
  background: rgba(231, 76, 60, 0.8);
  color: white;
}



.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#F4FCE8;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}

#markall {
  color: green;
}

#item {
 display: none; 
}

@media print {
    .notPrint, #notPrint{
      display: none;
    }
}

#wide {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


#count-trips {
  color: green;
}

